/* @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&display=swap");

body {
    font-family: "Lato", sans-serif;
}

#title-navbar {
    color: #468b38;
}

div.row h7 {
    color: #8a8a8a;
}

div.col-lg-6 col-12 text-center py-3 placeholder {
    font-size: 1-rem;
}

#opsi_text {
    font-size: 12px;
}

#valnamatoko {
    text-decoration: none;
    color: black;
} */

/* @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&display=swap");

body {
    font-family: "Lato", sans-serif;
}

#title-navbar {
    color: #468b38;
}

div.row h7 {
    color: #8a8a8a;
}

div.col-lg-6 col-12 text-center py-3 placeholder {
    font-size: 1-rem;
}

#opsi_text {
    font-size: 12px;
}

#valnamatoko {
    text-decoration: none;
    color: black;
}

.clickable {
    cursor: pointer;
}

.card-link {
    color: inherit;
    padding: 3;
    text-decoration: none;
}

.listx {
    list-style-type: none;
    padding: 5px;
}

.custom-card {
    border-radius: 8px; /* Adjust the value to control the roundness of the corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    max-width: 270px;
}

.container-gambar-main-katalog {
    max-height: 180px;
    max-width: 300px;
    object-fit: cover;
}

.custom-card:hover {
    transform: scale(1.05);
}

.custom-color-text {
    color: #575757;
}
.custom-button-width {
    width: 100%;
}

.custom-link {
    color: inherit;
}

#card-toko {
    border: none;
    box-shadow: none;
}

.gambar-custom {
    max-width: 20%;
    max-width: 20%;
    margin: 2px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-container {
    width: 100px; /* Lebar kontainer gambar */
    height: 100px; /* Tinggi kontainer gambar */
    overflow: hidden;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    min-width: 100px; /* Atur batasan minimum lebar gambar */
    min-height: 100px; /* Atur batasan minimum tinggi gambar */
    object-fit: cover; /* Crop gambar jika melebihi batasan */
}

.image-container-main {
    /* Lebar kontainer gambar */
    height: 300px; /* Tinggi kontainer gambar */
    overflow: hidden;
}

.image-container-keranjang {
    /* Lebar kontainer gambar */
    height: 200px; /* Tinggi kontainer gambar */
    overflow: hidden;
}

.image-container-keranjang img {
    max-width: 100%;
    max-height: 100%;
    min-width: 100px; /* Atur batasan minimum lebar gambar */
    min-height: 100px; /* Atur batasan minimum tinggi gambar */
    object-fit: cover; /* Crop gambar jika melebihi batasan */
}

.image-container-halaman-utama {
    width: 150px; /* Lebar kontainer gambar */
    height: 150px; /* Tinggi kontainer gambar */
    overflow: hidden;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    min-width: 100px; /* Atur batasan minimum lebar gambar */
    min-height: 100px; /* Atur batasan minimum tinggi gambar */
    object-fit: cover; /* Crop gambar jika melebihi batasan */
}

#button-login {
    width: 100%;
}

.custom-image-main-katalog {
    max-width: max-content; /* Menyesuaikan lebar gambar dengan lebar elemen yang memuatnya */
    max-height: 200px;
}
